@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --primary-color: #10b981; 
  --secondary-color: #1e40af;
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

.container {
  width: 50%;
  margin: auto;
}

input, label {
  display: block;
}

input {
  margin-bottom: 0.5rem;
  width: 100%;
}

#check-number {
  display: block;
  margin-top: 2rem;
  margin: auto;
  background: transparent;
  color: var(--primarycolor);
  border-width: medium;
  border-radius: 0.2rem;
  padding: 0.3rem;
}